option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONUNBUFFERED: 1
    ALLOWED_ORIGINS: "http://localhost:4200,https://pqrs-frontend.onrender.com,https://softone-stratek.onrender.com,http://softone360-frontend-useast1.s3-website-us-east-1.amazonaws.com"
    ENVIRONMENT: "production"
    DEBUG: "false"
