commands:
  01_pip_upgrade:
    command: "/opt/python/bin/pip install --upgrade pip"
    ignoreErrors: true
  02_install_requirements:
    command: "/opt/python/bin/pip install -r /var/app/current/requirements.txt"
    cwd: /var/app/current
    ignoreErrors: false

container_commands:
  01_collectstatic:
    command: "echo 'Backend ready'"
    leader_only: true
