commands:
  01_pip_upgrade:
    command: "/opt/python/bin/python -m pip install --upgrade pip"
    ignoreErrors: true
  02_install_requirements:
    command: "/opt/python/bin/python -m pip install -r /var/app/current/requirements.txt"
    cwd: /var/app/current

option_settings:
  aws:autoscaling:launchconfiguration:
    EC2KeyName: softone360-key
