option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.main:app
    NumProcesses: 3
    NumThreads: 20
    PythonVersion: 3.11
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    EnhancedHealthAuthEnabled: true
  aws:elasticbeanstalk:environment:process:default:
    HealthyThreshold: 3
    UnhealthyThreshold: 5
    HealthCheckInterval: 30
    HealthCheckTimeout: 5
