option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONUNBUFFERED: 1
    ALLOWED_ORIGINS: "http://localhost:4200,http://softone360-frontend-useast1.s3-website-us-east-1.amazonaws.com,https://softone360-frontend-useast1.s3-website-us-east-1.amazonaws.com,https://softone360.com,https://www.softone360.com,https://d39d4iayhy9x2w.cloudfront.net"
    ENVIRONMENT: "production"
    DEBUG: "false"
    DATABASE_URL: "postgresql://dbadmin:TuPassSeguro123!@softone-db.ccvomgoayzyt.us-east-1.rds.amazonaws.com:5432/postgres"
    SECRET_KEY: "tu-clave-secreta-super-larga-y-segura-cambiar-en-produccion-2025"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
